<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>
    {{!-- {{>navbar}} --}}
        <h1>Form Design</h1>
    <div class="forms">
        <form  action="/register" method="POST"> 
            <input type="text" name="name" placeholder="name" value=""/>
            <input type="tel" name="phone" placeholder="phone" value=""/>
            <input type="email" name="email" placeholder="email" value=""/>
            <button type="submit" value="register">send</button>
        </form>
    </div>
</body>
</html>